
body {
}

.container {
    padding-top: 2rem;
}

.search-area {
    margin-bottom: 1rem;
}

.table-responsive {
    margin-top: 1rem;
    border: 1px solid #ddd; /* Viền xung quanh bảng */
    border-radius: 10px; /* Bo tròn góc */
    overflow: hidden;
}

.btn-custom {
    background-color: #495057;
    border: none;
}

.btn-custom:hover {
    background-color: #343a40;
}

.background-container {
    margin: 20px; /* Adjust the margin around the div */
    padding: 10px; /* Adjust the padding inside the div */
    text-align: left; /* Center the text inside the div */
    /* Other existing styles for background, etc. */
}

.column-title {
    font-weight: bold;
    font-size: 20px;
}

.downloadButton {
    padding: 5px 10px; /* Giảm kích thước padding */
    font-size: 12px; /* Giảm kích thước font */
    line-height: 1; /* Điều chỉnh chiều cao dòng */
}

